@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <img src="~/images/helm-logo.jpg" style="width:400px;" alt="Helm Budget" class="navbar-btn" />
    <h5>Helm Budget System</h5>
</div>
