@page
@model Helm_Budget_System.Pages.Schools.EditModel

@{
    ViewData["Title"] = "Edit School";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h2>Edit School</h2>

<hr />
<div class="row">
    <div class="col-md-6">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="School.ID" />
            <div class="form-group">
                <label asp-for="School.SchoolName" class="control-label"></label>
                <input asp-for="School.SchoolName" class="form-control" />
                <span asp-validation-for="School.SchoolName" class="text-danger"></span>
            </div>
            <div class="form-group text-right">
                <input type="submit" value="Save" class="btn btn-primary createBtn" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index"><i class="fa-solid fa-backward"></i>&nbsp;Back</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
